// If you edit this file you need to compile the theme. See README.md for details.

// Global variable overrides. Must be declared before importing Valo.

// Defines the plaintext font size, weight and family. Font size affects general component sizing.
//$v-font-size: 16px;
//$v-font-weight: 300;
//$v-font-family: "Open Sans", sans-serif;

// Defines the border used by all components.
//$v-border: 1px solid (v-shade 0.7);
//$v-border-radius: 4px;

// Affects the color of some component elements, e.g Button, Panel title, etc
//$v-background-color: hsl(210, 0%, 98%);
// Affects the color of content areas, e.g  Panel and Window content, TextField input etc
//$v-app-background-color: $v-background-color;

// Affects the visual appearance of all components
//$v-gradient: v-linear 8%;
//$v-bevel-depth: 30%;
//$v-shadow-opacity: 5%;

// Defines colors for indicating status (focus, success, failure)
//$v-focus-color: valo-focus-color(); // Calculates a suitable color automatically
//$v-friendly-color: #2c9720;
//$v-error-indicator-color: #ed473b;

// For more information, see: https://vaadin.com/book/-/page/themes.valo.html
// Example variants can be copy/pasted from https://vaadin.com/wiki/-/wiki/Main/Valo+Examples

@import "../valo/valo.scss";

@mixin drawgametheme {
	@include valo;
	
	.drawGameUI {
		overflow: hidden;
	}
	
	.menu {
		position: fixed;
		width: auto !important;
		z-index: 10;
	}

	.gameComponent {
	}
	.gameComponent-description {
		position: fixed;
		margin-left: 100px;
		width: auto !important;
		font-size: 30px;
		color: #000;
		background: #FFF;
	}
	
	.drawcomponent {
		background: #000;
	}
	
	.drawcomponent-canvas {
		width: 100%;
		height: 100%;
		border-style: groove;
		border-color: #DEF;
		border-width: 0px 4px 4px 0px;
	}

	.colorPickerWidget {
		position: fixed;
		top: 45px;
		left: 15px;
	}
	
	.colorPickerWidget-button {
		width: 50px;
		height: 40px;
		margin: 0px 5px 0px 5px;
	}

	.whiteWithShadow {
		color: #FFF;
		font-weight: bold;
		text-shadow: 0px 0px 2px #000, 0px 0px 2px #000;
	}

	.brushPickerWidget {
		position: fixed;
		top: 85px;
		left: 15px;
		width: 0px;
		height: 0px;
		overflow: visible;
	}
	
	.brushPickerWidget-button {
		display: block;
		min-width: 40px;
		min-height: 40px;
		margin: 5px 0px 5px 0px;
		padding: 5px;
		padding: 0px;
	}
	
	.zoomWidget {
		position: fixed;
		top: 85px;
		right: 15px;
	}
	
	.zoomWidget-freezeDrawingButton {
		position: fixed;
		top: 10px;
		right: 15px;
		padding: 5px 20px;
		font-size: 35px;
		color: #000;
		background: #DDD;
		border-radius: 3px;
		cursor: pointer;
		z-index: 10;
	}
	
	.zoomWidget-freezeTransparentPanel {
		position: fixed;
		width: 100%;
		height: 100%;
		top: 0px;
		right: 0px;
		background: #07F;
		opacity: 0.4;
	}
	
	.zoomWidget-freezeTransparentPanel-label {
		text-align: center;
		margin-top: 100px;
		font-size: 25px;
		color: #000;
	}
	
	.zoomWidget-canvasSizeButton {
		margin: 5px 0px 5px 0px;
		float: right;
		font-size: 20px;
	}
	
}
